/* CSS reset: provides browser compatibility */
html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
}

*{
    box-sizing: border-box;
}

/* Global CSS variables declaration */
:root{
    --color1: #1EF7AE;
    --color2: #1AD662;
    --color3: #28ED3C;
    --color-4: #9BF71E;
    --color-text: black;
}

/* Layout styles (apply to all pages */
body{
    display: flex;
    flex-direction: column;
    color: var(--color-text);
    align-items: center;
    min-height: 100vh;
    font-size: 20px;
}

header{
    width: 100%;
    height: 20%;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    font-size: 18px;
}

footer{
    width: 100%;
    height: 20%;
    background-color: var(--color3);
    display: flex;
    justify-content: center;
}

main{
    margin-top: 10vh;
    margin-bottom: auto;
}

/* Home page styles */
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3vw;
    width: 30vw;
    margin-top: 20vh;
}

button.login{
    background-color: var(--color3);
    width: 20vw;
    border: none;
    height: 5vh;
    cursor: pointer;   
}

button.login:hover{
    border: solid grey 2px; 
    font-style: italic;
}

button.signin{
    background-color: var(--color2);
    width: 20vw;
    border: none;
    height: 5vh;
    cursor: pointer;   
}

button.signin:hover{
    border: solid grey 2px; 
    font-style: italic;
}

/* Login page styles */
.formulario{
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    width: 60vw;
    height: auto;
    align-items: center;
}

.formulario input{
    width: 80%;
}

.formulario input[type="submit"]{
    background-color: var(--color2);
    width: 30%;
    border: none;
    height: 5vh;
    cursor: pointer;    
}

.formulario input[type="submit"]:hover{
    border: solid grey 2px; 
    font-style: italic;
}

.formulario input[type="submit"]:active{
    border: solid black 2px; 
}

/* Sign-in page styles */
/* TBD */

/* Results page styles */
table{
    border-collapse: collapse;
    width: 90vw;
}

td,th{
    border: solid 2px var(--color3);
    text-align: center;
}

th:nth-of-type(1){
    width: 10%;
}

th:nth-of-type(2){
    width: 20%;
}

th:nth-of-type(3), th:nth-of-type(4){
    width: 25%;
}

th:nth-of-type(5){
    width: 10%;
}

th:nth-of-type(6){
    width: 10%;
}

p.login_ok{
    color: green;
}

p.login_ko{
    color:red;
}