<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Registro de Usuario</h1>
    </header>
    <main>
        <form action="{{ url_for('newUser') }}" method="POST" class="formulario">
            <h2>Crear una cuenta</h2>
            <input type="text" name="usuario" placeholder="Nombre de usuario" required>
            <input type="password" name="contrasena" placeholder="Contraseña" required>
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellido1" placeholder="Apellido 1" required>
            <input type="text" name="apellido2" placeholder="Apellido 2" required>
            <input type="number" name="edad" placeholder="Edad" required>
            <select name="genero" required>
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
                <option value="Otro">Otro</option>
            </select>
            <input type="submit" value="Registrarse">
        </form>
    </main>
    <footer>
        <p>ETPX 2022-2023</p>
    </footer>
</body>
</html>
